* {
    margin: 0;
    padding: 0;
}

/* [meu-atributo~="valor1"] {
    color: red;
} */

[meu-atributo*="se contem la nos valores seleciona com * "] {
    color: red;
}

[checked] {
    width: 50px ;
    height: 50px;
}