* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;

    /* Padrão do display flex */
    flex-direction: row;
    justify-content: space-evenly;
    align-items:stretch;

    background: yellow;
    height: 500px;
    /* gap: 5px; */
}
.flex-item {
    /* height: 100%; */
    width: 100%;
    background: red;
    margin: 10px;
}