.main-bg {
    background-image: url('../img/scattered-forcefields.svg');
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.white-bg {
    background-color: #fff;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section-vh {
    min-height: 100vh;
}
