/* Reseta a margem e o padding de todos os elementos e define o box-sizing para incluir padding e borda na largura e altura */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adiciona um padding de 15px ao redor de todos os lados do elemento com a classe .grid */
.grid {
    padding: 15px;
}

/* Cria um clearfix para garantir que o container .grid envolva corretamente os elementos flutuantes dentro dele */
.grid::after {
    content: '';
    display: block;
    clear: both;
}

/* Define que os elementos .col terão 33.33% da largura do container pai, 
   uma altura fixa de 300px, flutuarão à esquerda e terão um padding de 15px */
.grid .col {
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

/* Garante que o conteúdo dentro de .col ocupe 100% da largura e altura da coluna 
   e define uma cor de fundo vermelha */
.grid .col-content {
    width: 100%;
    height: 100%;
    background: red;
}
